@page "/enterprises"
@using MiniBlazorProject.Models;
@using MiniBlazorProject.Services;
@using MiniBlazorProject.Utils;
@using Newtonsoft.Json;

@inject HttpClient Http
@inject IEnterpriseService EnterpriseService

<PageTitle>Enterprises</PageTitle>
<h1>Enterprises</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (enterprises == null)
{
    @if (ErrorMessage != null)
    {
        <p>ErrorMessage</p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Site</th>
                <th>Seguimento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enterprise in enterprises)
            {
                <tr>
                    <td>@enterprise.Name</td>
                    <td>@enterprise.Site</td>
                    <td>@enterprise.SegmentId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Enterprise> enterprises;
    private int[] PageSizes = new int[] { 10, 25, 50 };
    private int PageSize = 10;
    private int CurrentPage = 1;
    private string ErrorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            enterprises = await EnterpriseService.GetEnterprises(PageSize, CurrentPage);
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
            throw;
        }
    }
}
