@page "/enterprises"
@using MiniBlazorProject.Models;
@using MiniBlazorProject.Utils;
@using Newtonsoft.Json;
@using MiniBlazorProject.Contracts;

@inject HttpClient Http
@inject IEnterpriseService EnterpriseService
@inject ISegmentService SegmentService

<PageTitle>Enterprises</PageTitle>
<h1>Enterprises</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (enterprises == null)
{
    @if (ErrorMessage != null)
    {
        <p>ErrorMessage</p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{
    <NavLink class="nav-link" href="new-enterprise">+ Adicionar</NavLink>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Site</th>
                <th>Seguimento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enterprise in enterprises)
            {
                <tr>
                    <td>@enterprise.Name</td>
                    <td>@enterprise.Site</td>
                    <td>@enterprise.SegmentId</td>
                </tr>
            }
        </tbody>
    </table>
}

<input type="button" class="btn" @onclick="DeleteEnterprise" value="Delete Enterprise" />
<input type="search" class="text-black" @oninput="OnChangeSearchBar" placeholder="Buscar Empresa" />

@code {
    private List<Enterprise> enterprises;
    private List<Segment> segments;
    private int PageSize = 10;
    private int CurrentPage = 1;
    private string ErrorMessage;

    protected override async Task OnInitializedAsync()
    {
        await Render();
    }
    protected async Task DeleteEnterprise()
    {
        await EnterpriseService.DeleteEnterprise("6427aa69d90328e7c643cd99");
    }

    protected async Task OnChangeSearchBar(ChangeEventArgs ev)
    {
        if (string.IsNullOrEmpty(ev.Value.ToString()))
            await Render();
        else
        {
            enterprises = await EnterpriseService.QueryEnterprises(ev.Value.ToString(), PageSize, CurrentPage);
        }
    }
    protected async Task Render()
    {
        try
        {
            enterprises = await EnterpriseService.GetEnterprises(PageSize, CurrentPage);
            //segments = await SegmentService.GetAllSegments(PageSize, CurrentPage);
            var seg = await SegmentService.GetSegmentById("642876671965d0cee98d45b4");
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
            throw;
        }
    }
}
