
<div>
    <button class="btn-primary btn" @onclick="PreviousPage">⏪</button>
    @for (int i = currentPage - 2; i <= currentPage + 2; i++)
    {
        int cp = i;
        @if (i > 0 && i <= totalPages)
        {
            if (i == currentPage)
            {
                <button class="btn-primary btn fw-bold" @onclick="() => GotoPage(cp)">@i</button>
            }
            else
            {
                <button class="btn-primary btn" @onclick="() => GotoPage(cp)">@i</button>
            }
        }
    }
    <button class="btn-primary btn" @onclick="NextPage">⏩</button>
</div>

@code {
    [Parameter]
    public int pageSize { get; set; }
    [Parameter]
    public int totalPages { get; set; }
    [Parameter]
    public int currentPage { get; set; }
    [Parameter]
    public EventCallback<int> ChangePage { get; set; }

    private void PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            ChangePage.InvokeAsync(currentPage);
        }
    }

    private void GotoPage(int pageNumber)
    {
        ChangePage.InvokeAsync(pageNumber);
    }

    private void NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            ChangePage.InvokeAsync(currentPage);
        }
    }
}
